<!--Pop up edit-->
<kendo-dialog *ngIf="active" (close)="closeForm()">
    <kendo-dialog-titlebar>
      {{ isNew ? 'Add new Category' : 'Edit Category' }}
    </kendo-dialog-titlebar>

      <form novalidate [formGroup]="editForm">
          <div class="form-group">
              <label for="CateName" class="control-label">Category name</label>

              <input type="text" class="k-textbox" formControlName="CateName" />

              <div
                  class="k-tooltip k-tooltip-validation"
                  [hidden]="editForm.controls.CateName.valid || editForm.controls.CateName.pristine">
                  CateName is required
              </div>
          </div>
          <div class="form-group">
              <label for="Description" class="control-label">Description</label>

              <input type="text" class="k-textbox" formControlName="Description" />
          </div>
          
      </form>

      <kendo-dialog-actions>
          <button class="k-button" (click)="onCancel($event)">Cancel</button>
          <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
      </kendo-dialog-actions>
  </kendo-dialog>