<div class="main-content">
  <div class="container-fluid">
    <div class="row" style="font-size: 16px">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="row" style="background-color: white">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>THÊM SÁCH MỚI</h3>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Vui lòng điền đầy đủ thông tin trước khi tạo</h3>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Tựa sách" value="" style="font-size: 16px">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Mô tả" value="">
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Chọn danh mục">
                  <mat-option *ngFor="let category of listCategory" value="category.CateID">
                    {{category.CateName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Chọn tác giả">
                  <mat-option *ngFor="let author of listAuthor" value="author.AuthorID">
                    {{author.AuthorName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Chọn nhà xuất bản">
                  <mat-option *ngFor="let publisher of listPublisher" value="publisher.PubID">
                    {{publisher.Name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Giá" value="">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Số lượng" value="">
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Trạng thái">
                  <mat-option *ngFor="let bookstatus of listBookStatus" value="bookstatus.BookStatusID">
                    {{bookstatus.BookStatus}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div class="row">
                <button type="button" class="btn btn-danger btn-lg" (click)="OnBackClick()" style="font-size: 16px;">
                  <span class="glyphicon glyphicon-arrow-left"></span> Quay lại</button>
                <button type="button" class="btn btn-success btn-lg" style="font-size: 16px;">
                  <span class="glyphicon glyphicon-arrow-right"></span> Tạo</button>
              </div>

            </form>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <form #imageForm=ngForm (ngSubmit)="OnSubmit(Image)">
              <div class="row">
                <img [src]="imgUrl" class="img-responsive" alt="Image" style="height: 500px; max-width: 100%;">
              </div>

              <div class="row">
                <input type="file" #Image accept="image/*" (change)="handleInputFile($event.target.files);" />
              </div>
              <div class="row">
                <button type="Submit" class="btn btn-sm btn-default" [disabled]="Image.value==''" style="font-size: 16px; background-color: rgb(15, 153, 107);">Submit</button>
              </div>
            </form>
            
          </div>

        </div>

      </div>

    </div>
  </div>
</div>