<div class="main-content">
  <div class="container-fluid">
    <div class="row" style="font-size: 16px">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="row" style="background-color: white">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>THÊM SÁCH MỚI</h3>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>Vui lòng điền đầy đủ thông tin trước khi tạo</h3>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <form class="example-form" #addBookForm="ngForm">
              
              <div class="form-group input-effect" 
                [class.has-error]="titleControl.invalid && titleControl.touched"
                [class.has-success]="titleControl.valid"  
              >
                <label class="control-label">Tựa sách</label>
                <input required type="text" class="effect-16 from-control example-full-width" style="font-size: 16px;"
                  #titleControl="ngModel"
                  [(ngModel)]="_book.Title" 
                  [ngModelOptions]="{standalone: true}"
                >
                  <span class="help-block" *ngIf="titleControl.invalid && titleControl.touched">
                    Title is required
                  </span>
              </div>

              <div class="form-group input-effect"
                [class.has-error]="titleControl.invalid && titleControl.touched"
                [class.has-success]="titleControl.valid"
              >
                <label class="control-label">Mô tả</label>
                
                  <input required class="effect-16 from-control example-full-width" style="font-size: 16px;"
                    #summayControl="ngModel"
                    [(ngModel)]="_book.Summary" 
                    [ngModelOptions]="{standalone: true}" 
                  >
                    <span class="help-block" *ngIf="summayControl.invalid && summayControl.touched">
                      Summary is required
                    </span>
              </div>
              <div class="form-group input-effect"
                [class.has-error]="cateControl.invalid && cateControl.touched"
                [class.has-success]="cateControl.valid"
              >
                <mat-form-field>
                  <mat-select required #cateControl="ngModel" placeholder="Chọn danh mục" [(ngModel)]="_book.CateID" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let category of listCategory" [value]="category.CateID">
                      {{category.CateName}}
                    </mat-option>
                  </mat-select>

                  <span class="help-block" *ngIf="cateControl.invalid && cateControl.touched">
                    Category is required
                  </span>
                </mat-form-field>
              </div>
              <div class="form-group input-effect"
                [class.has-error]="authorControl.invalid && authorControl.touched"
                [class.has-success]="authorControl.valid"
              >
                <mat-form-field>
                  <mat-select required #authorControl="ngModel" placeholder="Chọn tác giả" [(ngModel)]="_book.AuthorID" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let author of listAuthor" [value]="author.AuthorID">
                      {{author.AuthorName}}
                    </mat-option>
                  </mat-select>

                  <span class="help-block" *ngIf="authorControl.invalid && authorControl.touched">
                    Author is required
                  </span>
                </mat-form-field>
              </div>
              <div class="form-group input-effect"
                [class.has-error]="publisherControl.invalid && publisherControl.touched"
                [class.has-success]="publisherControl.valid"
              >
                <mat-form-field>
                  <mat-select required #publisherControl="ngModel" placeholder="Chọn nhà xuất bản" [(ngModel)]="_book.PubID" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let publisher of listPublisher" [value]="publisher.PubID">
                      {{publisher.Name}}
                    </mat-option>
                  </mat-select>

                  <span class="help-block" *ngIf="publisherControl.invalid && publisherControl.touched">
                    Author is required
                  </span>
                </mat-form-field>
              </div>

              <div class="form-group input-effect"
                [class.has-error]="PriceControl.invalid && PriceControl.touched"
                [class.has-success]="PriceControl.valid"
              >
                <label class="control-label">Giá</label>
              
                <input required class="effect-16 from-control example-full-width" style="font-size: 16px;"
                  #PriceControl="ngModel"
                  [(ngModel)]="_book.Price" 
                  [ngModelOptions]="{standalone: true}" 
                  pattern="[0-9]*"
                >
                  <span class="help-block" *ngIf="PriceControl.invalid && PriceControl.touched">
                    Price is required
                  </span>
                  <div [hidden]="PriceControl.valid || PriceControl.pristine"
                    class="help-block">
                    <div [hidden]="!PriceControl.hasError('pattern')">Price should be only numbers</div>
                  </div>
              </div>

              <div class="form-group input-effect"
                [class.has-error]="QuantityControl.invalid && QuantityControl.touched"
                [class.has-success]="QuantityControl.valid"
              >
                <label class="control-label">Số lượng</label>
            
                <input required class="effect-16 from-control example-full-width" style="font-size: 16px;"
                  #QuantityControl="ngModel"
                  [(ngModel)]="_book.Quantity" 
                  [ngModelOptions]="{standalone: true}" 
                  pattern="[0-9]*"
                >
                  <span class="help-block" *ngIf="QuantityControl.invalid && QuantityControl.touched">
                    Quantity is required
                  </span>
                  <div [hidden]="QuantityControl.valid || QuantityControl.pristine"
                    class="help-block">
                    <div [hidden]="!QuantityControl.hasError('pattern')">Quantity should be only numbers</div>
                  </div>
              </div>

              <div class="form-group input-effect"
                [class.has-error]="bookStatusControl.invalid && bookStatusControl.touched"
                [class.has-success]="bookStatusControl.valid"
              >
                <mat-form-field>
                  <mat-select required #bookStatusControl="ngModel" placeholder="Trạng thái" [(ngModel)]="_book.BookStatusID" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let bookstatus of listBookStatus" [value]="bookstatus.BookStatusID">
                      {{bookstatus.BookStatus}}
                    </mat-option>
                  </mat-select>

                  <span class="help-block" *ngIf="bookStatusControl.invalid && bookStatusControl.touched">
                    Book Status is required
                  </span>
                </mat-form-field>
              </div>

              <div class="row">
                <button type="button" class="btn btn-danger btn-lg" (click)="OnBackClick()" style="font-size: 16px;">
                  <span class="glyphicon glyphicon-arrow-left"></span> Quay lại</button>
                <button type="button" class="btn btn-success btn-lg" [disabled]="addBookForm.invalid" style="font-size: 16px;" (click)="onAddNewBook(); OnSubmit();">
                  <span class="glyphicon glyphicon-arrow-right"></span> Tạo</button>
              </div>

            </form>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <form #imageForm=ngForm (ngSubmit)="OnSubmit(Image)">
              <div class="row">
                <img [src]="imgUrl" class="img-responsive" alt="Image" style="height: 500px; max-width: 100%;">
              </div>

              <div class="row">
                <input type="file" #Image accept="image/*" (change)="handleInputFile($event.target.files);" />
              </div>
              <div class="row">
                <button type="Submit" class="btn btn-sm btn-default" [disabled]="Image.value==''" style="font-size: 16px; background-color: rgb(15, 153, 107);">Submit</button>
              </div>
            </form>
          
          </div>

        </div>

      </div>

    </div>
  </div>
</div>