.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    font-weight: 400;
  }
  
  .example-full-width {
    width: 100%;
  }

  img{
    max-width:100px;
    height:100px;
    margin-top:20px;
  }
  input{
      margin-top:20px;
  }