<div class="main-content">
    <div class="container-fluid">
      <div class="row">
  
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3>
            Quản lý nhà xuất bản
          </h3>
  
          <div class="row" style="background-color: white">
  
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 10px 0px 10px 15px">
              <button kendoButton [primary]=true class="btn-them-nha-nxb" data-toggle="modal" data-target="#exampleModalCenter">Thêm nhà xuất bản</button>
            </div>
  
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="row">
  
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style=" padding-top: 10px;">
                    <select class="form-control" 
                      [(ngModel)]="selectedPageSize"   
                      (change)="onChange(selectedPageSize); loadItems()" 
                      style="font-size: 16px;"
                      [ngModelOptions]="{standalone: true}">
                      <option value="" disabled selected>Chọn kích thước</option>
                      <option *ngFor="let item of itemNumber" [value]="item">
                        {{item}} rows
                      </option>
                  
                      </select>
                  </div>
  
                <!-- Search form -->
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                  <form class="form-inline md-form form-sm">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search" 
                    [(ngModel)]="searchText" 
                    (keyup.enter)="SearchEnter()"
                    [ngModelOptions]="{standalone: true}"
                    
                    >
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </form>
                </div>
  
              </div>
            </div>
            <br/>
  
            <!--Data grid tác giả-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 10px">
  
              <kendo-grid 
                  [data]="gridView" 
                  [height]="600"
                  [loading]="loading" 
                  
                  [pageSize]="selectedPageSize" [skip]="skip" 
                  [pageable]="true" 
                  (pageChange)="pageChange($event)"
                  
                  (edit)="editHandler($event)" (remove)="removeHandler($event)"
                  (add)="addHandler($event)"
                >
                <kendo-grid-column field="Name" title="Tên nhà xuất bản" width="300">
                </kendo-grid-column>
                <kendo-grid-column field="Description" title="Description" width="">
                </kendo-grid-column>
                <kendo-grid-column field="Discontinued" title="" width="300">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <button kendoGridEditCommand [primary]="true" class="btn btn-primary btn-circle btn-md" style="background-color: rgb(57, 148, 233)">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-info btn-circle btn-md" style="background-color: rgb(38, 202, 120)">
                      <i class="glyphicon glyphicon-option-vertical"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-circle btn-md" (click)="onClickDeletePublisher(dataItem.PublisherID)">
                      <i class="glyphicon glyphicon-remove"></i>
                    </button>
                  </ng-template>
                </kendo-grid-column>
              </kendo-grid>
            </div>
  
          </div>
  
        </div>
  
      </div>
    </div>
  </div>
  
  <!--Pop up thêm mới tác giả-->
  <div class="main-content" style="font-size: 16px">
    <div class="container-fluid">
      <div class="row" style="font-size: 16px">
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle">Thêm nhà xuất bản mới</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
  
                <form #publisherForm="ngForm" (ngSubmit)="onAddNewPublisher()">

                  <div class="form-group"
                    [class.has-error]="publisherNameControl.invalid && publisherNameControl.touched"
                    [class.has-success]="publisherNameControl.valid"
                  >
                    <label class="control-label">Tên nhà xuất bản</label>
                    <input required type="text" #publisherNameControl="ngModel" class="form-control" id="Name" [(ngModel)]="_publisher.Name" [ngModelOptions]="{standalone: true}">
                      <span class="help-block" *ngIf="publisherNameControl.invalid && publisherNameControl.touched">
                        Full name is required
                      </span>
                  </div>
                  <div class="form-group" 
                    [class.has-error]="DescriptionControl.invalid && DescriptionControl.touched"
                    [class.has-success]="DescriptionControl.valid"
                  
                  >
                    <label class="control-label">Description</label>
                    <input required type="text" #DescriptionControl="ngModel" class="form-control" id="Description" [(ngModel)]="_publisher.Description" [ngModelOptions]="{standalone: true}">
                      <span class="help-block" *ngIf="DescriptionControl.invalid && DescriptionControl.touched">
                        Description is required
                      </span>

                  </div>
  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onBackPublisherListClick()" style="font-size: 16px; background-color: rgb(238, 63, 63)">Quay lại</button>
                    <button type="submit" [disabled]="publisherForm.invalid" class="btn btn-primary" style="font-size: 16px; background-color: rgb(21, 172, 121)" >Thêm</button>
                  </div>
                  
                </form>
  
              </div>
              <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<!--Popup edit Publisher-->

<publisher-edit
[model]="editDataItem" 
[isNew]="isNew" 
(save)="saveHandler($event)" 
(cancel)="cancelHandler()">
</publisher-edit>
